.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 30px;
  justify-content: space-between;
}

.controlWrap {
  width: 120px;
  display: flex;
  justify-content: end;
}

.controlWrap > * {
  margin-right: 8px;
}

.textWrap {
  width: calc(100% - 120px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #d4d2d2;
  padding-right: 8px;
}

.text {
  width: 100%;
  margin-bottom: 0px !important;
}

.secretTextWrap {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.secret {
  background: #d4d2d2;
  border-radius: 8px;
  height: 20px;
  width: 100%;
}
